html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}

img {
  max-width: 100%;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.fullscreen {
  min-height: 100vh;
}

.main {
  background-color: #E7F066;
}

.main_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_img {
  width: 688px;
}

.main_p {
  font-size: 25px;
  line-height: 32px;
  letter-spacing: 0.5px;
  color: #262626;
  margin: 40px;
}

.logo {
  position: absolute;
  padding: 26px;
}

.logo_p {
  position: absolute;
  font-size: 12px;
  line-height: 13px;
  color: #EBEBEB;
  margin: 168px 0 0 40px;
}

.description {
  width: 275px;
  margin: 119px 0 0 40px;
}

.description_p {
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.5px;
  color: #262626;
}

.candles {
  background: #9C8554;
}

.candle_img {
  -webkit-box-ordinal-group: 1000;
      -ms-flex-order: 999;
          order: 999;
  margin-left: auto;
}

.candle_p {
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.5px;
  color: #B2B2B2;
}

.candle_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.signature {
  font-size: 25px;
  line-height: 32px;
  text-align: right;
  letter-spacing: 0.5px;
  color: #B2B2B2;
  padding-right: 39px;
}

.products_pics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: -webkit-center;
}

.imgimg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

.imgimg_div {
  width: 50%;
}

.imgimg_p {
  position: absolute;
  margin-top: -65px;
  margin-left: 40px;
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #262626;
}

.about_us {
  background: #EBEBEB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about_us_img {
  margin-left: 25px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.about_us_info {
  margin-top: 243px;
  margin-left: 30px;
  width: 308px;
}

.about_us_1 {
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.5px;
  color: #262626;
}

.about_us_2 {
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0.5px;
  color: #262626;
}

.about_us_3 {
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.5px;
  color: #262626;
}

.about_us_4 {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.5px;
  color: #262626;
}

.diffuser {
  background: #A26779;
}

.room_mist {
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.room_mist_info {
  z-index: 1;
  position: absolute;
  width: 278px;
  margin-left: 40px;
  margin-top: 119px;
}

.room_mist_img {
  position: absolute;
  z-index: 0;
  width: auto;
}

.room_mist_p1 {
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.5px;
  color: #262626;
  margin-bottom: 11px;
}

.room_mist_p2 {
  font-size: 25px;
  line-height: 32px;
  letter-spacing: 0.5px;
  color: #262626;
  margin-bottom: 39px;
}

.room_mist_p3 {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.5px;
  color: #262626;
}

.gel {
  background: #504B4D;
}

.industry {
  background: #B04836;
}
/*# sourceMappingURL=App.css.map */